@import "/HTTP/css/fonts.scss";

#modalWindow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    opacity: 0.5;
    background-color: #2c385c;
    z-index: 2;
}

#loginWindow {
    position: absolute;
    left: 50%;
    top: 500px;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 300px;
    box-sizing: border-box;
    background: linear-gradient(0deg, #dbe5f3, 10%, #82a4ec);
    border: solid 2px #1e3129;
    border-radius: 10px;
    color: rgb(36, 52, 65);
    font-size: 18px;
    font-family: 'Limelight-Regular';
    padding: 30px 15px;
    z-index: 4;
    
    animation-name: moveup, spin;
    animation-duration: 1ms, 1s;
    animation-composition: add;
    
    }

    .formItemContainer {
       margin: 15px;
    }
    
    .loginInput {
        border: solid 3px #4d71df;
        border-radius: 8px;
        height: 2em;
        width: 80%;
    }

    .loginInput:invalid {
        border: 2px solid red;
    }

    #loginBtnContainer ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin: 80px 0 0 0;
        padding: 0;


        li {
            margin-right: 20px;

            .loginWindowBtn {
                border: solid 2.5px rgb(34, 32, 59);
                box-shadow: 2px 1px 3px #4b4c50;
                border-radius: 10px;
                background: linear-gradient(180deg, #a2b4f1 20%, #7682e9 50%);
                color: rgb(36, 52, 65);
                font-family: 'Caprasimo-Regular';
                font-size: 18px;
                min-width: max-content;
                padding: 3px 25px;

                &:hover {
                    background: rgb(107, 109, 145);
                    color: rgb(216, 216, 223);
                }

                &:disabled {
                    opacity: 0.5;   
                }

                &:disabled:hover {
                    opacity: 0.5;   
                    background: linear-gradient(180deg, #a2b4f1 20%, #7682e9 50%);
                    color: rgb(36, 52, 65);
                }
            }

        }
    
    }

@keyframes moveup {
    from {
        transform: translate(-50%, -50%);
    } to {
        transform: translate(-50%, -150%);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
} 