@media (max-width: 870px) {
    .headerLine {
        display: block;
    }
    
    .weatherContent {
        display: block;
    }               
    
    .forecastInfoContainer {
        display: block;
    }
}


                    