@import "./narrowview.scss";
@import "./fonts.scss";
@import "../colors/colors.scss";

body {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 5%;
    background-color: $main-bg-green;
    font-family: "Merriweather-BlackItalic";
    color: $font-color;
    
    .container {
        box-sizing: border-box;
        background-image: url("../images/rainy-day.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100%;
        background-position: center top;
        border-radius: 18px;   
        padding: 6%; 
        
        .innerContainer {
            height: 100%;
            
            .headerLine {
                display: flex;
                justify-content: space-between;
                min-width: max-content;
                backdrop-filter: blur(15px);
                padding: 7px;
                border-radius: 5px;

                .pageTitle {
                    
                }
                
                .searchBarContainer {
                    display: flex;
                    min-width: max-content;
                    
                    .searchBar {
                        height: 1.5em;
                        width: 300px;
                    }
                    
                    .searchButton {
                        min-width: max-content;
                        background: none;
                        border: none;
                        display: flex;
                        align-items: center;
                        padding: 0;
                    
                        &:hover {
                            background-color: $hover-color;
                        }
                    
                        &:active {
                            background-color: $active-color;
                        }
                   
                        img {
                            width: 25px;
                            height: auto;
                            padding: 0 15px 0 15px;
                        }
                    }
                }
            }
            
            .weatherContent {
                display: flex;
                align-items: last baseline;
                height: 100%;
                
                .currentWeather {
                    flex: 1;
                    min-width: max-content;

                    .tempAndIcon {
                        display: flex;

                        .temp {
                            font-size: 70px;
                            margin-right: 25px;
                        }

                        .bigIcon {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                height: 50px;
                                width: auto;
                            }
                        }
                    }

                    .location {
                        font-size: 35px
                    }

                    .currentTimeCoordinates {
                        display: flex;

                        .currentTime {
                            border-right: solid 3px $font-color;
                            padding-right: 20px;
                            font-size: 25px;
                        }
                        .highTemp, .lowTemp {
                            font-size:18px;
                            padding-left: 20px;
                            font-size: 25px;
                        }
                    }
                }
                .forecastInfoContainer {
                    flex: 2;
                    display: flex;
                    justify-content: center;
                    
                    .forecastInfo {
                        max-width: 70%;
                        display: flex;
                        flex-direction: column;
                        align-items: stretch;
                        justify-content: baseline;
    
                        .oneDayForecast {
                            font-size: 16px;
                            backdrop-filter: blur(15px);
                            padding: 20px;
                            width: 435px;
                            
                            .hourlyAlert {
                                padding-bottom: 15px;
                                border-bottom: solid 1px $font-color;
                                width: 100%
                            }

                            .hourlyForecastContainer {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .slideArrow {
                                    width: 30px;
                                    height: 30px;
                                    border: none;
                                    border-radius: 15px;
                                    background: transparent;
                                    display: flex;
                                    justify-content: center;    
                                    align-items: center;                         
                                    
                                    img {
                                        height: 20px;
                                        width: 20px
                                    }
                                }

                                .slideArrow:hover {
                                    background-color: $hover-color;
                                }

                                .slideArrow:active {
                                    background-color: $active-color;
                                }

                                .hourlyFlowSlideContainer {
                                    display: flex;
                                    align-items: center;
                                    overflow: hidden;
                                    width: 350px;
    
                                    
                                    .hourlyFlow {
                                        display: flex;
                                        margin: 10px 0 10px 0;
                                        z-index: 0;
                                        position: relative;
                                        left: 0px;
                                        transition: left 0.5s;     
                
                                        .hourlyReport {
                                            min-width: 50px;
                                            height: 80px;
                                            padding: 0 10px 0 10px; 
                                           
                                            .smallIcon {
                                                img {
                                                    height: 25px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
    
                        .fiveDayForecast {
                            font-size: 16px;
                            backdrop-filter: blur(15px);
                            padding: 20px;
                            margin-top: 25px;
                            width: 435px;
    
                            .forecastHeader {
                                padding-bottom: 15px;
                                border-bottom: solid 1px $font-color;
                            }
    
                            .forecastFlow {
                                .dayForecast {
                                    display: flex;
                                    margin-bottom: 15px;
                                    
                                    .day {
                                        width: 90px;
                                        padding-right: 15px;
                                    }
                                    .smallIcon {
                                        padding-right: 15px;
                                        
                                        img {
                                            height: 25px;
                                        }
                                    }
                                    .lowTemp {
                                        width: 40px;
                                        padding-right: 15px;
                                    }
    
                                    meter::-webkit-meter-bar {
                                        border-top-left-radius: 0;
                                        border-bottom-left-radius: 0;
                                        border-width: 0;
                                        background-color: $meter-background;
                                        height: 6px;
                                      }
                                    
                                    meter::-webkit-meter-optimum-value {
                                        background: linear-gradient(to right, $meter-optimum-gradient-low, $meter-optimum-gradient-high);
                                        border-radius: 0 3px 3px 0;
                                    }
    
                                    .leftMeter {
                                        transform: rotateZ(180deg);
                                    }

                                    .highTemp {
                                        width: 40px;
                                        padding: 0 15px 0 15px;
    
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}