<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="admin.css">
    <link rel="stylesheet" href="ItemList/ItemList.css">
    <link rel="stylesheet" href="CreateForm/CreateForm.css">
    <title>Book Store Admin</title>
</head>
<body>
    
    <script src="adminOOP.js"></script>
    <script src="books.js"></script>
    <script src="ItemList/ItemList.js"></script>
    <script src="../Menu/Menu.js"></script>
    <script src="CreateForm/CreateForm.js"></script>
    <main>
        <header>
            <p>BookStore --Admin</p>
            <button id="backToMainPageBtn">
              <a href="/DOM4/index.html">Back =></a>
            </button>
        </header>
        <div class="outerContainer">
            <div class="booklistOuterContainer ">
                <div id="booklistContainer"></div>
                <div id="booklistBtnContainer"></div>
            </div>
            <div id="editItemContainer">
                
            </div>    
        </div>
        
    </main>
</body>
</html>
