@import "fonts.css";

body {
    font-family: "YatraOne";
    padding-left: 20%;
    padding-right: 12%;
  }

header {
    padding-top: 5%;
    font-size: 70px;
    font-weight: bold;
    min-width: max-content;
} 

