#editItemContainer {
    width: 55%;
    min-height: 600px;
    background-color: rgb(237, 231, 248);
    border: solid 2px rgb(130, 130, 241);
    border-radius: 10px;

    ul {
        list-style: none;
        margin: 30px;
        padding: 0;
        min-width: max-content;
        font-family: "YatraOne", "sans-serif";
        font-size: 16px;
    }

    .formItem {
        margin: 5px 0 5px 0;

        label {
            display: inline-block;
            width: 30%;
            text-align: right;
            margin-right: 10px;
            vertical-align: top;
        }

        input, select, textarea {
            width: 60%;
        }
    }


    #formBtnContainer ul {
        display: flex;
        justify-content: space-around;

        .bookFormButton {
            font-family: "YatraOne", "sans-serif";
            font-weight: bold;
            font-size: 16px;
            padding: 5px 10px 5px 10px;
            margin: 0 5px 0 5px;
            min-width: max-content;
            border: solid 2px rgb(84, 84, 88);
            border-radius: 5px;
            background-color: rgb(219, 217, 252);
        }
        
        .bookFormButton:hover {
            background-color: rgb(131, 129, 175);
        }
    }

    .bookForm {
        input:invalid {
            border: 2px solid red;
        }

        textarea:invalid {
            border: 2px solid red;
        }
    }
}

#editItemContainer {
    .searchButton[disabled] {
        background-color: #aaa;
        color: #999;
    }
}
