#editItemContainer {
    width: 55%;
    min-height: 600px;
    background-color: rgb(237, 231, 248);
    border: solid 2px rgb(130, 130, 241);
    border-radius: 10px;
}

#editItemContainer ul {
    list-style: none;
    margin: 30px;
    padding: 0;
    min-width: max-content;
    font-family: "YatraOne";
    font-size: 16px;
}

#editItemContainer .formItem {
    margin: 5px 0 5px 0;
    
}

#editItemContainer .formItem label {
    display: inline-block;
    width: 30%;
    text-align: right;
    margin-right: 10px;
    vertical-align: top;
}

#editItemContainer .formItem input,
#editItemContainer .formItem select,
#editItemContainer .formItem textarea {
    width: 60%;
}

#editItemContainer.formItem input {
    width: 60%;
}

#editItemContainer #formBtnContainer ul {
    display: flex;
    justify-content: space-around;
}