.booklistOuterContainer {
    width: 30%;
    min-width: min-content;
    background-color: rgb(237, 231, 248);
    border: solid 2px rgb(130, 130, 241);
    border-radius: 7px;
}

#booklistContainer {
    padding: 0;
    height: calc(100% - 100px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 20px;
}

#booklistContainer table {
    width: 100%;
    border-collapse: separate;
}


#booklistContainer .bookItem {
    display: flex;
    align-items: baseline;
    font-family: "YatraOne";
    font-size: 14px;
}

#booklistContainer .bookItem:hover {
    background-color: rgb(219, 217, 252);
}

#booklistContainer .bookItem td {
    padding: 2px;
}

#booklistContainer .bookItem td.bookAuthor,
#booklistContainer .bookItem td.bookTitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#booklistContainer .bookItem td.bookAuthor {
    width: 100px;
}

#booklistContainer .bookItem td.bookTitle {
    width: 200px;
}


#booklistContainer .checkBox {
    margin-left: 10px;
}

#booklistContainer .bookAuthor {
    margin-left: 15px;
}

#booklistContainer .bookTitle {
    margin-left: 10px;
}

#booklistBtnContainer {
    height: 100px;
}
#booklistBtnContainer ul {
    padding: 20px 0 0 0;
    margin: 0;
    display: flex;
    border-top: solid 2px rgb(130, 130, 241);
    justify-content: space-evenly;
    list-style: none;
}

#booklistBtnContainer .searchButton {
    font-family: "YatraOne";
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    margin: 0 5px 0 5px;
    min-width: max-content;
    border: solid 2px rgb(84, 84, 88);
    border-radius: 5px;
    background-color: rgb(219, 217, 252);
}
