.booklistOuterContainer {
    width: 30%;
    min-width: min-content;
    background-color: rgb(237, 231, 248);
    border: solid 2px rgb(130, 130, 241);
    border-radius: 7px;
}

#booklistContainer {
    padding: 0;
    max-height: 300px;
    overflow: scroll;
    padding-bottom: 20px;
}

.bookItem {
    display: flex;
    align-items: baseline;
    font-family: "YatraOne";
    font-size: 14px;
}

.checkBox {
    margin-left: 10px;
}

.bookAuthor {
    margin-left: 15px;
    min-width: max-content;
}

.bookTitle {
    margin-left: 10px;
}

#booklistBtnContainer ul {
    margin: 20px 0 20px 0;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.searchButton {
    font-family: "YatraOne";
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    margin: 0 5px 0 5px;
    min-width: max-content;
    border: solid 2px rgb(84, 84, 88);
    border-radius: 5px;
    background-color: rgb(219, 217, 252);
}
