@font-face {
    font-family: "Caprasimo-Regular";
    src: url("./Caprasimo-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Limelight-Regular";
    src: url("./Limelight-Regular.ttf") format("truetype");
}