@mixin base-style {

}

$main-bg-green: rgb(23, 36, 35);
$font-color: rgb(7, 22, 26);
$hover-color:rgb(133, 132, 132);
$active-color: rgb(26, 23, 23);
$meter-background: rgb(168, 165, 152);
$meter-optimum-gradient-low: rgb(25, 124, 86);
$meter-optimum-gradient-high: rgb(25, 48, 124);
 